@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --white:#ffffff;
    --ltWhite:#d9d8d8;
    --black:#000000;
    --gray:#4f4b4b;
    --ltGray:#9e9c9c;
    --saffron:#f4694c;
    --ltSaffron: #ff794f;
    --babySaffron:#fde1db;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--white);
}
/* Universal */
.containerPad{
    padding: 2rem 6rem;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
}
button{
    background-color: var(--saffron);
    color: var(--white);
    padding: .7rem 2rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: .9rem;
    font-weight: 300;
}
/* First section */
.firstSection{
    background: url('./Assets/Photos/futuristic-bg.png') no-repeat;
    background-size: 100% 100%; 
    color: var(--white);
}
.navBar , .logoList{
    justify-content: space-between;
    align-items: center;
}
.logoList{
    gap: 10rem;
}
.navList{
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.navList > li{
    font-weight: 400;
    color: var(--ltWhite);
}
.signIn{
    background-color: transparent;
}
.firstSectionContent{
    margin: 5rem 0;
    align-items: center;
    justify-content: space-between;
}
.firstLeft{
    width: 40%;
    justify-content: left;
    gap: 2rem;
}
.firstLeft > h1 {
    font-size: 5rem;
    word-spacing: 2px;
    line-height: 1.5;
}
.firstLeft > p{
    color: var(--ltWhite);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    width: 60%;
}
.leftButtons{
    gap: 1rem;
}
.leftButtons > .leftBtn2{
    background-color: transparent;
    border: 1px solid var(--white);
}
.firstRight{
    width: 50%;
    align-items: center;
    justify-content: center;
}
img[alt="playButton"]{
    display: block;
    margin: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 50%;
}
.rightContent{
    position: relative;
    top: 10rem;
    left: 10rem;
    gap: 1rem;
}
img[alt="dash"]{
    position: relative;
    bottom: 3rem;
}
.rightContent > p{
    width: 40%;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
}
img[alt="rightArrow"]{
    position: relative;
    top: 3rem;
}
/* Second Section */
.secondSection {
    background-color: var(--white);
    color: var(--black);
}
.secondHead {
    font-size: 4rem;
    width: 50%;
    text-align: center;
    display: block;
    margin: 3rem auto;
}
.secondCardsDIV {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}
.secondCard {
    height: 18rem;
    width: 18rem;
    align-items: flex-end;  
}
 .secondCardData {
    padding: 10px 15px ;
    width: 100%;
    height: 25%;
    color: var(--white);
    backdrop-filter: blur(15px);
    background-blend-mode: multiply;
    justify-content: space-between;
    align-items: center;
}
 .data{
    align-items: center;
}
 .data h5 {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--white);
}
 .data p {
    font-size: .8rem;
    font-weight: 200;
    color: var(--ltWhite);
}
 .cardButton {
    padding: 10px 15px ;
}
 .card1 {
    background: url("./Assets/Photos/image 2.png") no-repeat;
    background-size: cover;
    background-position: 50%;
}
 .card2 {
    background: url("./Assets/Photos/image\ 4.png") no-repeat;
    background-size: cover;
    background-position: 50%;
}
 .card3 {
    background: url("./Assets/Photos/image 3.png") no-repeat;
    background-size: cover;
    background-position: 50%;
}
 .card4 {
    background: url("./Assets/Photos/Rectangle\ 56.png") no-repeat;
    background-size: cover;
    background-position: 50%;
   
}
.thirdSection{
    align-items: center;
    justify-content: left;
    gap: 5rem;
    margin: 3rem 5.5rem;
    background-color: var(--white);
    color: var(--black);
}
img[alt="ThirdIMG"]{
    width: 40rem;
    height: 30rem;
}
.thirdContent{
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}
.thirdContent > h1{
    font-size: 4rem; 
}
.thirdContent > p{
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--ltGray);
    width: 50%;
}
.thirdButtons {
    gap: 2rem;
}
.thirdbtn1 , .thirdbtn2{
    padding: 1rem 2.5rem;
}
.thirdbtn2{
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid var(--saffron);
    color: var(--saffron);
}
/*  Fourth Section  */
.fourthSection{
    margin: 1.5rem 5.5rem;
    justify-content: space-between;
    align-items: center;
}
.fourthSection > h1{
    width: 50%;
    font-size: 4rem;
}
.fourthArrows{
    gap: 1rem;
}
img[alt="fourthLeftArrow"]{
    padding: 1rem;
    background-color: var(--babySaffron);
    width: 2rem;
}
img[alt="fourthRightArrow"]{
    padding: 1rem;
    background-color: var(--saffron);
    width: 2rem;
}
/* Fifth Section */
.fifthSection{
    margin: 0 5.5rem;
}
.fifthGrids{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 4rem;
    column-gap: 20% ;
}
.grids{
    gap: 2rem;
    align-items: center;
}
img[alt="gridsPNGs"]{
    width: 12rem;
}
.gridsContent{
    gap: 1rem;
}
.gridsContent > h5{
    font-size: 1.5rem;
    font-weight: 500;
    width: 70%;
}
.gridSec{
    font-size: .9rem;
    font-weight: 300;
    color: var(--saffron);
}
.gridDesc{
    font-size: .8rem;
    color: var(--gray);
    width: 70%;
}
.gridButton{
    width: 40%;
}

/* This project only work from 2560px device to till 1200px */
/* Here are the media queries */
@media (max-width:1440px) {
    /* first Section */
    .firstLeft > h1 {
        font-size: 3rem;
    }
    img[alt="playButton"]{
        right: 3.5rem;
    }
    .rightContent{
        top: 8rem;
        left: 6rem;
    }
    /* Second section */
    .secondHead {
        font-size: 2.5rem;
    }
    /* Third section */
    .thirdSection{
        gap: 4rem;
        margin: 2rem 0;
    }
    img[alt="ThirdIMG"]{
        width: 35rem;
        height: 25rem;
    }
    .thirdContent{
        gap: 1.5rem;
    }
    .thirdContent > h1{
        font-size: 2.5rem; 
        width: 60%;
    }
    .thirdContent > p{
        font-size: 1rem;
        width: 60%;
    }
    .thirdbtn1 , .thirdbtn2{
        padding: .8rem 2rem;
        font-size: 1rem;
    }
    /* Fourth Section */
    .fourthSection{
        margin: 1.5rem 0;
    }
    .fourthSection > h1{
        width: 50%;
        font-size: 2.5rem;
    }
    img[alt="fourthRightArrow"],img[alt="fourthLeftArrow"]{
        width: 1rem;
    }
    /* Fifth section */
    .fifthSection{
        margin: 0;
    }
    .gridsContent > h5 , .gridDesc{
        width: 100%;
    }
}
@media (max-width:1024px) {
    /* first Section */
    .navBar{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .navButtons{
        gap: 1rem;
    }
    .signIn{
        border: 1px solid var(--white);
        padding: .65rem 2rem;
    }
    .firstLeft{
        width: 50%;
    }
    .firstLeft > p{
        width: 70%;
    }
    .firstRight{
        width: 40%;
    }
    .rightContent{
        left: 2rem;
        gap: 1rem;
    }
    .rightContent > p{
        width: 60%;
    }
    img[alt="playButton"]{
        right: 0rem;
    }
    /* second section */
    .secondHead {
        width: 70%;
    }
    /* Third Section */
    img[alt="ThirdIMG"]{
        width: 25rem;
        height: 20rem;
    }
    .thirdContent > h1{ 
        width: 100%;
    }
    .thirdContent > p{
        width: 100%;
    }
    .thirdContent{
        gap: 1rem;
    }
    /* fifth section */
    .fifthGrids{
        row-gap: 4rem;
        column-gap: 4rem ;
    }
    .gridButton{
        width: 70%;
    }
    .gridsContent > h5{
        font-size: 1.2rem;
    }
    .gridDesc{
        font-size: .7rem;
    }
    .gridSec{
        font-size: .8rem;
    }
    .grids{
        gap: 1rem;
    }
}