@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Light-white : #cdced0;
    --White: #ffffff;
    --Purple: #6663e9;
    --Black: #000000;
    --Gray: #4c4c4c;
    --Light-gray: #9b9b9b;
}

body{
    font-family: 'Nunito', sans-serif;
}
/* Utilities*/
.containerPad{
    padding: 1rem 6rem;
}
button{
    background-color: var(--Purple);
    color: var(--White);
    padding: 1.1rem 3rem;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 40px;
}
ul{
    list-style: none;
}
/* Menu Icon */
.material-symbols-outlined {
    position: fixed;
    top: 50%;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    border-radius: 50%;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
}
a{
    text-decoration: none;
}
.dropdownList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    position: fixed;
    top: 42%;
    right: 6%;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out; 
}

/* First Section */
.firstSection{
    background: url('./Assets/Photos/mainBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
/* >nav part */
.navigationBar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.4rem;
    padding-bottom: 2rem;
    align-items: center;
    /* position: sticky;
    top: 1px; */
}
img[alt="nav-Logo"]{
    width: 9rem;
}
.growList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.growList li{
    font-size: 1.25rem;
    color: var(--Light-white);
}
.horizontal-line {
    margin-top: -4rem;
    border: 1px solid var(--Light-gray);
}
/* >Header part */
.sectionOneHeading{
    margin: 5rem 0;
    padding: 1rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.sectionOneHeading h1{
    font-size: 5rem;
    color: var(--White);
    width: 50%;
    line-height: 1;
}
.sectionOneHeading p{
    font-size: 1.5rem;
    color: var(--Light-white);
    width: 30%;
}
.logoList{
    background-color: var(--White);
    height: 20vh;
    border-radius: 25px;
    margin-top: 11.5rem;
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Second Section */
.secondSection {
    padding: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* >Heading Part */
.sectionTwoHeading {
    font-size: 4rem;
    color: var(--Black);
}
/* >Section Two all cards */
.sectionTwoCards {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10rem;
    column-gap: 4rem;
    margin: 5rem 0rem 4rem 0rem;
}
.allCards {
    height: 26rem;           
    width: 25rem;            
    background-image: url("./Assets/Photos/cardImage1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    border-radius: 25px;
    position: relative;
}
.allCards:nth-child(2) {
    background-image: url("./Assets/Photos/cardImage2.png");
    background-size: 180%;
    background-position: 10%;
}
.allCards:nth-child(3) {
    background-image: url("./Assets/Photos/cardImage3.png");
    background-size: 220%;
    background-position: 45%;
}
.allCards:nth-child(4) {
    background-image: url("./Assets/Photos/cardImage4.png");
    background-size: 200%;
    background-position: 49%;
}
.allCards:nth-child(5) {
    background-image: url("./Assets/Photos/cardImage5.png");
    background-size: 200%;
    background-position: 45%;
}
.allCards:nth-child(6) {
    background-image: url("./Assets/Photos/cardImage6.png");
    background-size: 200%;
    background-position: 48%;
}
.allCards:nth-child(7) {
    background-image: url("./Assets/Photos/cardImage7.png");
    background-size: 200%;
    background-position: 48%;
}
.allCards:nth-child(8) {
    background-image: url("./Assets/Photos/cardImage8.png");
    background-size: 112%;
    background-position: 45%;
}
.allCards:nth-child(9) {
    background-image: url("./Assets/Photos/cardImage9.png");
    background-size: 200%;
    background-position: 70%;
}
.allCards:hover{
    border: 4px solid #6764e7;
    animation: flow 10s linear infinite;
}
@keyframes flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.cardData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--Black);
    background-color: var(--White);
    padding: 1.2rem;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    bottom: -14%;
    left: 5%;
    border-radius: 20px;
}
.cardData p {
    text-align: left;
}
.cardData span {
    font-size: 1.2rem;
    color: var(--Purple);
}
.cardData button {
    color: var(--White);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 1rem 1.8rem;
    background-color: var(--Purple);
    border-radius: 25px;
}
.up {
    position: relative;
    top: -5%;
}
.low {
    position: relative;
    top: 5%;
}



/* Media Queries */
@media screen and (max-width: 1440px) {
    .firstSection{
        height: 103vh;
    }
    .sectionOneHeading{
        margin: 3rem 0;
        padding: 0rem 2.4rem;
    }
    .sectionOneHeading h1{
        width: 70%;
    }
    .sectionOneHeading p{
        width: 40%;
    }
    .logoList{
        margin-top: 3rem; 
        height: 25vh;
    }
    .dropdownList{
        top: 40%;
    }
    .allCards{
        height: 25rem;           
        width: 24rem; 
    }
}
@media screen and (max-width: 1024px){
    .firstSection{
        height: 110vh;
    }
    img[alt="nav-Logo"],img[alt="list-Logos"]{
        width: 8rem;
    }
    .growList{
        gap: 3rem;
    }
    .sectionOneHeading h1{
        width: 80%;
        font-size: 4rem;
    }
    .sectionOneHeading p{
        width: 55%;
        font-size: 1.3rem;
    }
    .logoList{
        margin-top: 0rem; 
        height: 25vh;
        justify-content: center;
        gap: 2rem;
    }
    .dropdownList{
        top: 38%;
        right: 8%;
    }
    .sectionTwoCards{
    grid-template-columns: auto auto;
    }
    .up {
        top: 0%;
    }
    .low {
        top: 0%;
    }
    .sectionTwoHeading{
        font-size: 4rem;
    }
}
@media screen and (max-width: 768px){
    .firstSection{
        height: 85vh;
    }
    .navigationBar , .sectionOneHeading {
        padding: 1rem 0;
    }
    .containerPad{
        padding: 1rem 4rem;
    }
    img[alt="nav-Logo"],img[alt="list-Logos"]{
        width: 7rem;
    }
    .growList{
        gap: 3rem;
    }
    .growList li{
        font-size: 1.1rem;
    }
    .sectionOneHeading{
        margin: 2rem 0;
        gap: 3rem;
    }
    .sectionOneHeading h1{
        width: 100%;
    }
    .sectionOneHeading p{
        width: 65%;
    }
    .logoList{
        margin-top: 2.5rem;
    }
    .logoList :first-child{
        display: none;
    }
    .dropdownList{
        top: 41%;
        right: 10%;
    }
    .allCards{
        height: 22rem;           
        width: 21rem; 
    }
    .secondSection{
        margin: 5rem 0;
    }
    .sectionTwoCards{
        column-gap: 3rem;
    }
}
@media screen and (max-width: 736px){
    .firstSection{
        height: 180vh;
        gap: 3.7rem;
    }
    .sectionOneHeading{
        margin:  0;
        gap: 2rem;
    }
    .logoList{
        margin-top: .5rem;
    }
    .dropdownList{
        top: 27%;
        right: 10%;
    }
    .sectionTwoCards{
        column-gap: 2.5rem;
        row-gap: 8rem;
    }
}
@media screen and (max-width: 734px){
    .firstSection{
        height: 170vh;
    }
    .dropdownList{
        top: 28%;
        right: 10%;
    }
}
@media screen and (max-width: 684px){
    .containerPad{
        padding: 1rem 2rem;
    }
    .firstSection{
        height: 160vh;
        
    }
    .sectionTwoCards{
        row-gap: 7rem;
        column-gap: 2rem;

    }
    .allCards{
        height: 21rem;           
        width: 20rem; 
    }
}
@media screen and (max-width: 667px){
    
    .firstSection{
        height: 190vh;
        gap: 2.3rem;
    }
    .navigationBar{
        padding-bottom: 2.3rem;
    }
    .dropdownList{
        top: 24%;
        right: 10%;
    }
    .sectionTwoCards{
        grid-template-columns: auto;
    }
    .allCards{
        height: 23rem;           
        width: 22rem;
    }
}
@media screen and (max-width:480px){
    .containerPad{
        padding: 1rem;
    }
    button{
        padding: 1rem 1.8rem;
        font-size: 1rem;
    }
    .firstSection{
        height: 80vh;
        gap: 1rem;
    }
    img[alt="nav-Logo"],img[alt="list-Logos"]{
        width: 6rem;
    }
    .growList{
        display: none;
    }
    .navigationBar{
        margin-bottom: 1.2rem;
    }
    .sectionOneHeading h1{
        font-size: 3.3rem;
    }
    .sectionOneHeading p{
        font-size: 1rem;
    }
    .logoList{
        height: 15vh;
        padding: 3rem 0;
    }
    .logoList :nth-child(2){
        display: none;
    }
    .dropdownList{
        top: 40%;
        right: 14%;
    }
    .sectionTwoHeading{
        font-size: 3.3rem;
    }
}
@media screen and (max-width:414px){
    .sectionOneHeading h1{
        font-size: 3rem;
    }
    .dropdownList{
        top: 38%;
        right: 16%;
    }
    .sectionTwoHeading{
        font-size: 3rem;
    }
}
@media screen and (max-width:375px){
    .logoList :nth-child(3), .logoList :nth-child(4){
        display: none;
    }
    .firstSection{
        height: 90vh;
        gap: 1rem;
    }
    .logoList{
        height: 0;
        padding: 2.5rem 0;
    }
    .dropdownList{
        top: 37%;
        right: 16%;
    }
}