/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
/* Created by Prajwal with Help of FSJS2.0 mentoring team */
/* Now this is well designed responsive UI*/
:root{
    --txt--white: #ffffff;
    --bg--black: #000000;
    --bg--secondary: #ba0cc5;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins",sans-serif;
}
/*container*/
.container{
    height: 100%;
    width: 100%;
}
/* navbar */
section[aria-label="navbar"]{
    color: var(--txt--white);
    background-color: var(--bg--black);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 64px;
}
img[alt="logo"]{
    width: 100%;
    height: 4vh;
}
.line{
    background-color: var(--txt--white);
    width: 1px;
    height: 5vh;
}
.grow-list{
    flex-basis: 70%;
}
.list{
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
}
.list-item:nth-child(1):after{
    content: '\2304';
    position: relative;
    left: 6px;
    bottom: 4px;
}
.button-small{
    border: none;
    border-radius: 6px;
    background-color: var(--bg--secondary);
    color: var(--txt--white);
    padding: 12px 35px;
    margin-right: 50px;
    font-family: "Poppins",sans-serif;
}
/* Hero Section */
section[aria-label="hero"]{
    background: url('./assets/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6rem;
    padding-inline: 1rem;
    width: 100%;
    height: 100%;
    min-height: 93vh;
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: var(--txt--white);
}
.hero-heading{
    max-width: 900px;
    font-size: 85px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 32px;
}
.hero-description{
    font-size: 32px;
    font-weight: 400;
}
.button-large{
    font-size: 2.2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 9px;
    background-color: var(--bg--secondary);
    color: var(--txt--white);
    padding: 12px 25px;
    font-family: "Poppins",sans-serif;
    margin-top: 2.5rem;
}
@media (max-width:1024px) {
    img[alt="logo"]{
        height: 5vh;
    }
    .grow-list{
        display: none;
    }
    .button-small{
        margin-right: 0;
        font-size: 14px;
    }
    .hero-heading{
        font-size: 64px;
    }
    .hero-description, .button-large{
        font-size: 32px;
    }
}
@media (max-width:480px) {
    .line{
        display: none;
    }
    .button-small{
        margin-right: 0;
        font-size: 14px;
    }
}