@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bg--black:#111010;
    --bg--blue:#0c8bfd;
    --bg--spacial:#111010c7;
    --bg--darkGray:#1d1c1c;
    --bg--gray:#292828;
    --bg--ltGray:#3e3d3d;
    --bg--white:#ffffff;
    --txt--white: #ffffff;
    --txt--gray:#616060;
    --txt--blue:#0c8bfd;
    --txt--black:#111010;
    --bdr--gray:#bab9b9;
    --bdr--ltGray: #b3b2b2;
}
body{
    font-family: 'Mulish', sans-serif;
    background-color: var(--bg--black);
    color: var(--txt--white);
}

/* Universal */
button{
    font-family: 'Mulish', sans-serif;
    background-color: var(--bg--blue);
    color: var(--txt--white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
}
button:hover{
    background-color: #1690fc9e;
}
.containerPad{
    padding: 2rem 5%;
}
.navPad{
    padding: 1rem 5%;
}
/* Navigation bar */
.navbar{
    background-color: var(--bg--spacial);
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--txt--white);
    font-size: 1rem;
}
ul{
    list-style: none;
}
/* img[alt="NavLogo"]{
    width: fit-content;
} */
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
}
/* First Section */
.firstSection{
    display: flex;
    padding-top: 3rem;
    gap: 14rem;
    /* position: relative; */
}
.headerPart {
    width: 50%;
}
.headerPart > h1 {
    text-align: left;
    font-size: 6rem;
    color: var(--txt--white);
    font-weight: 600;
    word-spacing: 2px;
}
.headerPart > h1>span {
    color: var(--txt--blue);
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic;
}
.headerPart >p {
    margin-top: 2rem;
    text-align: left;
    color: var(--txt--gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
}
.headerButtons{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}
.btn1:hover{
    background-color: var(--bg--spacial); 
    border: 1px solid var(--txt--white);
}
.btn2 {
   background-color: var(--bg--spacial); 
   border: 1px solid var(--txt--white);
}
.btn2:hover{
    background-color: var(--bg--blue);
    border: 1px solid var(--bg--spacial);
}
.imagePart{
    padding-top: 1rem;
}
img[alt="firstSectionIMG"]{
    width: 110%;
    transition: 2s;
}
img[alt="firstSectionIMG"]:hover{
    transform: scale(1.1);
   
}
/* Second Section */
.secondSection{
    background-color: var(--bg--darkGray);
    margin-top: 2rem;
}
.logosSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img[alt="logosSectionIMG"]{
    transition: 2s;
}
img[alt="logosSectionIMG"]:hover{
    transform: scale(1.3);
}
/* Third Section */
.thirdSection{
    padding: 5rem 5%;
    background-color: var(--bg--white);
    color: var(--txt--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.thirdHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thirdHead > h1{
    font-size: 3.8rem;
    font-weight: 600;
}
.thirdHead > p{
    margin-top: 1rem;
    width: 50%;
    font-size: 1.2rem;
    color: var(--txt--gray);
}
.thirdCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1.4rem;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;
    border: 1px solid var(--bdr--gray);
    width: 15.6%;
    border-radius: 20px;
    padding: 1%;
    padding-bottom: 2%;
}
img[alt="cardsImg"]{
    width: 40%;
    margin-bottom: 2rem;
}
.Card > h3{
    font-size: 1.2rem;
}
.Card > p{
    font-size: 1rem;
    color: var(--txt--gray);
    font-weight: 400;
}
.secondCard{
    background-color: var(--bg--black);
    color:var(--txt--white);
    margin-bottom: 4rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.secondCard > p{
    font-weight: 500;
}
.thirdHead2{
    display: flex;
    justify-content: center;
}
.thirdHead2 > h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    width: 75%;
}
.thirdBottomCARDS{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    gap: 2rem;
}
.bottomLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.bottomLeft > a{
    padding: 2rem 1.9rem;
    color: var(--txt--black);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--bg--white);
    margin-bottom: 1.4rem;
    width: 55vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--bdr--ltGray);
    border-radius: 60px;
}
.bottomLeft > a:first-child{
    background-color: var(--bg--blue);
    color: var(--txt--white);
    border: none;
}
.bottomLeft > a:first-child > span{
    border: 1px solid var(--bg--white);
}
.bottomLeft > a > span{
    border: 1px solid var(--bg--black);
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.3rem;
}
.bottomRight > ul{
    list-style-type: none;
    margin: 0px 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
    width: 30vw;
    padding: 20px 10px;
}
.rightSpan::before{
    content: '';
    position: absolute;
    left: 22px;
    top: 22px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--bg--white);
}
.bottomRight > ul > li{
    color: var(--txt--white);
    font-size: 1.1rem;
    margin: 10px 10px 0px;
    position: relative;
    padding: 22px 5px 22px 60px;
    background-color: #292828;
    border-radius: 30px;
    width: 28vw;
}
/* Fourth section */

.fourthSection{
    padding: 4rem 5%;
    background-color: var(--bg--black);
    color: var(--txt--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.fourthSectionHead{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}
.fourthSectionHead > h1{
    font-size: 3rem;
    width: 50%;
    font-weight: 400;
    text-align: center;
}
img[alt="arrows"]{
    width: 3rem;
    position: relative;
    top: 3rem;
}
.fourthSectionCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.fourthCard{
    max-width: 28.1rem;
    min-width: 12.5rem;
    width: 17.5rem;
    max-height: 32rem;
    min-height: 16rem;
    height: 31rem;
    background-color: var(--bg--white);
    color: var(--txt--black);
    padding: 1.5rem 1rem;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.fourthCard > h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.fourthCard > h1{
    font-size: 2rem;
    font-weight: 600;
}
.fourthCard > h1 > span{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--txt--gray);
}
.fourthCard > p{
    font-size: 14px;
}
.fourthCard > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.fourthCard > ul > li{
    font-size: 14px;
    display: flex;
    gap: 8px;
}
.fourthCard > ul > li > img {
    width: 14px;
    /* margin-right: 4px; */
}
.fourthBlueCard{
    background-color: var(--bg--blue);
    color: var(--txt--white);
}
.fourthBlueCard > h1 > span{
    font-size: 1.5rem;
    font-weight: 500;
    color: #85c5fe;
}
.fourthBlueCard > button{
    background-color: var(--bg--white);
    color: var(--txt--blue);
    font-family: 'Mulish', sans-serif;
}
/* Fifth section */
.fifthSection{
    padding: 4rem 5%;
    background-color: var(--bg--white);
    color: var(--txt--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.fifthHead{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 10rem; */
}
.fifthHead > h2{
    font-size: 3.5rem;
    font-weight: 600;
    text-align: left;
    width: 25%;
}
.fifthHead > p{
    font-size: 1.37rem;
    font-weight: 500;
    text-align: left;
    width: 30%;
}
.fifthCardSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.fifthCard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50rem;
    min-width: 25rem;
    width: 32rem;
    background-color: var(--bg--black);
    color: var(--txt--white);
    padding: 2% 1.5%;
    border-radius: 15px;
}
img[alt="Quotation"]{
    width: 4%;
}
.nameCard{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nameCard > .name{
    font-size: 1rem;
}
.nameCard > .city{
    font-size: 13px;
}
.fifthCard > p {
    font-size: 1.3rem;
}
.stars{
    display: flex;
    gap: 10px;
}
img[alt="Star"]{
    width: 1.5rem;
}
.SecondCard{
    background-color: var(--bg--white);
    color: var(--txt--black);
    border: 1px solid var(--bdr--gray);
}
.Scroll{
    height: 1%;
    width: 50%;
    /* margin-left: 16%; */
    background-color: #f3f3f3;
    border-radius: 5px;
    display: flex;
    justify-content: left;
}
.scrollBar{
    height: 6px;
    width: 10rem;
    background-color: var(--bg--blue);
    border-radius: 5px;
}
.footerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  4rem;
    padding-bottom: 0;
}
.footerSection > h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    width: 55%;
}
.formDiv{
    width: 80%;
    padding: 2% 1%;
    background-color: var(--bg--gray);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#text{
    padding: 1rem 2rem;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    background-color: var(--bg--ltGray);
}
#text:hover{
    background-color: var(--bg--darkGray);
    color: white;
}
.line{
    width: 100%;
    background-color: var(--bg--ltGray);
    padding: 1px;
}
.footFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15rem;
    flex-wrap: wrap;
}
.Flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Flex > p{
    font-size: .8rem;
}
.Flex > p:first-child{
    font-size: 1.2rem;
}
.footLogo{
    width: 18%;
}








/* Media Queries */
@media (max-width:1440px) {

    /* First Section */
    .firstSection{
        gap: 6rem;
    }
    .headerPart{
        width: 60%;
    }
    .headerPart > h1{
       font-size: 5rem;
    }
    .headerPart > p{
        font-size: 1.5rem;
    }
    img[alt="firstSectionIMG"]{
        width: 100%;
    }
    /* third Section */
    .Card{
        width: 20%;
    }
    .bottomLeft > a{
        width: 100%;
        gap: 1rem;
    }
    /* Fifth section */
    .fifthHead > h2,.fifthHead > p{
        width: 40%;
    }
    .fifthCard{
        width: 35rem;
    }
    /* Footer */
    .footerSection > h1{
        width: 75%;
    }
    .formDiv{
        width: 90%;
    }
}


@media (max-width:1024px) {
    /* Universal */
    /* .containerPad{
        padding: 0;
    } */
    /* Navbar */
    .navbar{
        justify-content: center;
        gap: 4rem;
    }
    .list{
        gap: 3rem;
    }
    img[alt="NavLogo"]{
        width: 7rem;
    }
    .btnNav{
        padding: 12px;
        border-radius: 10px;
    }
    /* First Section */
    .firstSection{
        padding-top: 2rem;
    }
    .headerPart > h1{
        font-size: 4rem;
        word-spacing: normal;
    }
    .headerPart > p{
        font-size: 1.3rem;
        word-spacing: normal;
    }
    /* Second section */
    img[alt="logosSectionIMG"]{
        width: 8rem;
    }
    /* third Section */
    .thirdHead > h1{
        font-size: 3.4rem;
    }
    .thirdCards{
        gap: 2.5rem;
    }
    .Card{
        width: 26%;
    }
    img[alt="cardsImg"]{
        width: 30%;
    }
    .Card > h3{
        font-size: 1rem;
    }
    .Card > p{
        font-size: .9rem;
    }
    .bottomRight{
        display: none;
    }
    .fourthSectionHead{
        gap: 3rem;
    }
    .fourthSectionHead > h1{
        width: 75%;
    }
    /* Fifth section */
    .fifthHead > h2{
        width: 50%;
        font-size: 3rem;
    }
    .fifthHead > p{
        width: 50%;
        font-size: 1.2rem;
    }
    .fifthCard{
        max-width: 50rem;
        min-width: 20rem;
        width: 25rem;
    }
    /* Footer */
    .footerSection > h1{
        width: 95%;
    }
    .formDiv{
        width: 100%;
        flex-wrap: wrap;
    }
    #text{
        padding: 1rem 1.2rem;
    }
    .footButton{
        padding: 1rem 1.2rem;
    }
    .footFlex{
        gap: 8rem;
    }
    .footLogo{
        width: 20%;
    }
}
@media (max-width:768px){
    /* Universal */
    /* .containerPad{
        padding: 0;
    } */
    /* Navbar */
    .navbar,.list{
        gap: 2.5rem;
    }
    /* First section */
    .firstSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .headerPart{
        width: 100%;
    }
    .headerPart > h1,.headerPart > p{
        text-align: center;
    }
    .headerPart > h1{
        font-size: 5rem;
    }
    .headerButtons{
        align-items: center;
        justify-content: center;
    }
    .imagePart{
        width: auto;
    }
    /* Second Section */
    .logosSection{
        gap: 3rem;
    }
    img[alt="logosSectionIMG"]{
        width: 6rem;
    }
    /* third Section */
    .thirdSection{
        padding-top: 3rem;
    }
    .thirdHead > h1{
        font-size: 2.6rem;
    }
    .thirdHead > p{
        font-size: 1rem;
    }
    .thirdCards{
        gap: 1.5rem;
    }
    .Card{
        width: 30%;
    }
    img[alt="cardsImg"]{
        width: 35%;
        margin-bottom: 1rem;
    }
    .thirdHead2 > h1 {
        font-size: 2rem;
    }
    /* Fourth section */
    .fourthSectionHead{
        gap: 2rem;
    }
    .fourthSectionHead > h1{
        font-size: 2.5rem;
    }
    .fourthSectionCards{
        flex-direction: column;
    }
    .fourthCard{
        max-width: 30rem;
        min-width: 15rem;
        width: 20rem;
        max-height: 32rem;
        min-height: 16rem;
        height: 31rem;
    }
    /* Fifth section */
    .fifthHead{
        justify-content: center;
        gap: 3rem;
    }
    .fifthCardSection{
        flex-direction: column;
    }
    .Scroll{
        display: none;
    }
    /* footer */
    .footerSection > h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .formDiv{
        flex-wrap: wrap;
        justify-content: center;
    }
    #text, .footButton{
        padding: 1rem 2rem;
    }
    .footButton{
        margin-left: 8.5rem;
    }
    .footFlex{
        gap: 5rem;
    }
    .footLogo{
        width: 22%;
    }
}

@media (max-width:736px){
    /* Navbar */
    img[alt="NavLogo"]{
        width: 6rem;
    }
    .btnNav{
        padding: 10px;
    }
    /* First Section */
    .firstSection{
        padding-top: 0rem;
    }
    .headerPart > h1{
        font-size: 4.5rem;
    }
    /* fourth section */
    .fourthSection{
        padding-top: 3rem;
    }
    .fourthSectionHead{
        gap: 2rem;
    }
    /* Fifth section */
    .fifthHead > h2{
        font-size: 2.5rem;
    }
    .fifthHead > p{
        font-size: 1rem;
    }
}

@media (max-width:684px){
    /* Universal */
    .containerPad{
        padding: 1rem;
    }
    /* Navbar */
    .navbar,.list{
        gap: 2rem;
    }
    .thirdSection{
        padding-top: 2rem;
    }
    /* Fourth Section */
    .fourthSectionHead{
        gap: 1rem;
    }
    .fourthSectionHead > h1{
        font-size: 2rem;
    }
    img[alt="arrows"]{
        width: 2rem;
    }
}

@media (max-width:667px){
    /* Universal */
    .containerPad{
        padding: 1rem;
    }
    /* Navbar */
    .navbar,.list{
        gap: 1.8rem;
    }
    /* first Section */
    .firstSection{
        margin-top: -1rem;
    }
    .headerPart > h1{
        font-size: 4rem;
    }
    .headerPart > p{
        font-size: 1.1rem;
    }
    /* Second section */
    .logosSection{
        justify-content: center;
        flex-wrap: wrap;
    }
    /* third Section */
    .Card > h3{
        font-size: .8rem;
    }
    .Card > p{
        font-size: .6rem;
    }
}

@media (max-width:480px){
    /* Navbar */
   .navbar{
    justify-content: space-between;
   }
    .list{
    display: none;
   }
   /* third section */
   .thirdCards{
    flex-direction: column;
    gap: 2rem;
   }
   .Card{
    width: 50%;
   }
   .Card > h3{
    font-size: 1rem;
   }
   .Card > p{
    font-size: .9rem;
   }
   .secondCard{
    margin: 0;
   }
   .thirdHead2 > h1 {
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
    }
    .bottomLeft > a{
        font-size: 1rem;
    }
    /* Fourth section */
    .fourthSection{
        gap: 4rem;
    }
    /* Fifth section */
    .fifthHead{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .fifthHead > h2{
        text-align: center;
        width: 100%;
    }
    .fifthHead > p{
        text-align: center;
        width: 100%;
    }
    .fifthHead > h2 > span{
        color: var(--txt--blue);
    }
    .fifthCard{
        max-width: 50rem;
        min-width: 25rem;
        width: 25rem;
        padding: 4%;
    }
    /* Footer */
    .footerSection > h1{
        font-size: 2rem;
        width: 100%;
    }
    .footFlex{
        display: grid;
        grid-template-columns: auto auto;
    }
    .footLogo{
        width: 28%;
    }
}

@media (max-width:414px){
    /* first Section */
    .headerPart > h1{
        font-size: 3.5rem;
    }
    .btn1,.btn2{
        font-size: 14px;
    }
    .Card{
        width: 60%;
    }
    /* Fourth container */
    .fourthSectionHead{
        gap: .5rem;
    }
    .fourthSectionHead > h1{
        font-size: 1.5rem;
        width: 100%;
    }
    img[alt="arrows"]{
        top: 2rem;
    }
    /* Fifth Section */
    .nameCard > .name{
        font-size: .7rem;
    }
    .nameCard > .city{
        font-size: 9px;
    }
    .fifthCard > p {
        font-size: 1rem;
    }
    img[alt="Quotation"]{
        width: 3%;
    }
    img[alt="Star"]{
        width: 1rem;
    }
    /* Footer */
    .footerSection > h1{
        font-size: 1.8rem;
    }
    .footButton{
        margin-left: 0rem;
    }
}

@media (max-width:375px){
    /* nav bar */
    .btnNav{
        font-size: 13px;
    }
    /* Fourth section */
    img[alt="arrows"]{
        width: 1.6rem;
    }
    .fifthCard > p {
        font-size: 1rem;
    }
    .fifthCard{
        max-width: 20rem;
        min-width: 0;
        width: 100%;
    }
    /* footer */
    .footerSection > h1{
        font-size: 1.6rem;
    }
    .footLogo{
        width: 30%;
    }
}

@media (max-width:320px){
    /* first Section */
    .headerPart > h1{
        font-size: 2.5rem;
    }
    .headerPart > p{
        font-size: 0.9rem;
    }
    .btn1,.btn2{
        font-size: 11px;
    }
    .thirdHead > h1{
        font-size: 2rem;
    }
    .thirdHead > p{
        font-size: .7rem;
    }
    .thirdCards{
        margin-top: 1rem;
    }
    .Card > h3{
        font-size: .8rem;
    }
       .Card > p{
        font-size: .7rem;
    }
    /* Fourth section */
    .fourthSectionHead > h1{
        font-size: 1.2rem;
    }
    .fourthCard{
        max-width: 28.1rem;
        min-width: 12.5rem;
        width: 17.5rem;
        max-height: 32rem;
        min-height: 16rem;
        height: 31rem;
    }
    /* Footer */
    .footerSection > h1{
        font-size: 1.3rem;
    }
    .footFlex{
        gap: 3rem;
    }
}
