@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bg--black:#111010;
    --bg--blue:#0c8bfd;
    --bg--spacial:#111010c7;
    --bg--darkGray:#1d1c1c;
    --bg--white:#ffffff;
    --txt--white: #ffffff;
    --txt--gray:#616060;
    --txt--blue:#0c8bfd;
    --txt--black:#111010;
    --bdr--gray:#bab9b9;
}
body{
    font-family: 'Mulish', sans-serif;
    background-color: var(--bg--black);
    color: var(--txt--white);
}

/* Universal */
button{
    font-family: 'Mulish', sans-serif;
    background-color: var(--bg--blue);
    color: var(--txt--white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
}
.containerPad{
    padding: 2rem 5%;
}
.navPad{
    padding: 1rem 5%;
}
/* Navigation bar */
.navbar{
    background-color: var(--bg--spacial);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--txt--white);
    font-size: 1rem;
}
/* img[alt="NavLogo"]{
    width: fit-content;
} */
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
}
/* First Section */
.firstSection{
    display: flex;
    padding-top: 3rem;
    gap: 14rem;
    /* position: relative; */
}
.headerPart {
    width: 50%;
}
.headerPart > h1 {
    text-align: left;
    font-size: 6rem;
    color: var(--txt--white);
    font-weight: 600;
    word-spacing: 2px;
}
.headerPart > h1>span {
    color: var(--txt--blue);
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic;
}
.headerPart >p {
    margin-top: 2rem;
    text-align: left;
    color: var(--txt--gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
}
.headerButtons{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}
.btn1:hover{
    background-color: var(--bg--spacial); 
    border: 1px solid var(--txt--white);
}
.btn2 {
   background-color: var(--bg--spacial); 
   border: 1px solid var(--txt--white);
}
.btn2:hover{
    background-color: var(--bg--blue);
    border: 1px solid var(--bg--spacial);
}
.imagePart{
    padding-top: 1rem;
}
img[alt="firstSectionIMG"]{
    width: 110%;
    transition: 2s;
}
img[alt="firstSectionIMG"]:hover{
    transform: scale(1.1);
   
}
/* Second Section */
.secondSection{
    background-color: var(--bg--darkGray);
    margin-top: 2rem;
}
.logosSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img[alt="logosSectionIMG"]{
    transition: 2s;
}
img[alt="logosSectionIMG"]:hover{
    transform: scale(1.3);
}
/* Third Section */
.thirdSection{
    padding: 5rem 5%;
    background-color: var(--bg--white);
    color: var(--txt--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.thirdHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thirdHead > h1{
    font-size: 3.8rem;
    font-weight: 600;
}
.thirdHead > p{
    margin-top: 1rem;
    width: 50%;
    font-size: 1.2rem;
    color: var(--txt--gray);
}
.thirdCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1.4rem;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;
    border: 1px solid var(--bdr--gray);
    width: 15.6%;
    border-radius: 20px;
    padding: 1%;
    padding-bottom: 2%;
}
img[alt="cardsImg"]{
    width: 40%;
    margin-bottom: 2rem;
}
.Card > h3{
    font-size: 1.2rem;
}
.Card > p{
    font-size: 1rem;
    color: var(--txt--gray);
    font-weight: 400;
}
.secondCard{
    background-color: var(--bg--black);
    color:var(--txt--white);
    margin-bottom: 4rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.secondCard > p{
    font-weight: 500;
}
.thirdHead2{
    display: flex;
    justify-content: center;
}
.thirdHead2 > h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    width: 75%;
}









/* Media Queries */
@media (max-width:1440px) {

    /* First Section */
    .firstSection{
        gap: 6rem;
    }
    .headerPart{
        width: 60%;
    }
    .headerPart > h1{
       font-size: 5rem;
    }
    .headerPart > p{
        font-size: 1.5rem;
    }
    img[alt="firstSectionIMG"]{
        width: 100%;
    }
    /* third Section */
    .Card{
        width: 20%;
    }
}


@media (max-width:1024px) {
    /* Universal */
    /* .containerPad{
        padding: 0;
    } */
    /* Navbar */
    .navbar{
        justify-content: center;
        gap: 4rem;
    }
    .list{
        gap: 3rem;
    }
    img[alt="NavLogo"]{
        width: 7rem;
    }
    .btnNav{
        padding: 12px;
        border-radius: 10px;
    }
    /* First Section */
    .firstSection{
        padding-top: 2rem;
    }
    .headerPart > h1{
        font-size: 4rem;
        word-spacing: normal;
    }
    .headerPart > p{
        font-size: 1.3rem;
        word-spacing: normal;
    }
    /* Second section */
    img[alt="logosSectionIMG"]{
        width: 8rem;
    }
    /* third Section */
    .thirdHead > h1{
        font-size: 3.4rem;
    }
    .thirdCards{
        gap: 2.5rem;
    }
    .Card{
        width: 26%;
    }
    img[alt="cardsImg"]{
        width: 30%;
    }
    .Card > h3{
        font-size: 1rem;
    }
    .Card > p{
        font-size: .9rem;
    }
}

@media (max-width:768px){
    /* Universal */
    /* .containerPad{
        padding: 0;
    } */
    /* Navbar */
    .navbar,.list{
        gap: 2.5rem;
    }
    /* First section */
    .firstSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .headerPart{
        width: 100%;
    }
    .headerPart > h1,.headerPart > p{
        text-align: center;
    }
    .headerPart > h1{
        font-size: 5rem;
    }
    .headerButtons{
        align-items: center;
        justify-content: center;
    }
    .imagePart{
        width: auto;
    }
    /* Second Section */
    .logosSection{
        gap: 3rem;
    }
    img[alt="logosSectionIMG"]{
        width: 6rem;
    }
    /* third Section */
    .thirdSection{
        padding-top: 3rem;
    }
    .thirdHead > h1{
        font-size: 2.6rem;
    }
    .thirdHead > p{
        font-size: 1rem;
    }
    .thirdCards{
        gap: 1.5rem;
    }
    .Card{
        width: 30%;
    }
    img[alt="cardsImg"]{
        width: 35%;
        margin-bottom: 1rem;
    }
    .thirdHead2 > h1 {
        font-size: 2rem;
    }
}

@media (max-width:736px){
    /* Navbar */
    img[alt="NavLogo"]{
        width: 6rem;
    }
    .btnNav{
        padding: 10px;
    }
    /* First Section */
    .firstSection{
        padding-top: 0rem;
    }
    .headerPart > h1{
        font-size: 4.5rem;
    }
}

@media (max-width:684px){
    /* Universal */
    .containerPad{
        padding: 1rem;
    }
    /* Navbar */
    .navbar,.list{
        gap: 2rem;
    }
    .thirdSection{
        padding-top: 2rem;
    }
}

@media (max-width:667px){
    /* Universal */
    .containerPad{
        padding: 1rem;
    }
    /* Navbar */
    .navbar,.list{
        gap: 1.8rem;
    }
    /* first Section */
    .firstSection{
        margin-top: -1rem;
    }
    .headerPart > h1{
        font-size: 4rem;
    }
    .headerPart > p{
        font-size: 1.1rem;
    }
    /* Second section */
    .logosSection{
        justify-content: center;
        flex-wrap: wrap;
    }
    /* third Section */
    .Card > h3{
        font-size: .8rem;
    }
    .Card > p{
        font-size: .6rem;
    }
}

@media (max-width:480px){
    /* Navbar */
   .navbar{
    justify-content: space-between;
   }
    .list{
    display: none;
   }
   /* third section */
   .thirdCards{
    flex-direction: column;
    gap: 2rem;
   }
   .Card{
    width: 50%;
   }
   .Card > h3{
    font-size: 1rem;
   }
   .Card > p{
    font-size: .9rem;
   }
   .secondCard{
    margin: 0;
   }
   .thirdHead2 > h1 {
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
}
}

@media (max-width:414px){
    /* first Section */
    .headerPart > h1{
        font-size: 3.5rem;
    }
    .btn1,.btn2{
        font-size: 14px;
    }
    .Card{
        width: 60%;
    }
}

@media (max-width:375px){
    /* nav bar */
    .btnNav{
        font-size: 13px;
    }
}

@media (max-width:320px){
    /* first Section */
    .headerPart > h1{
        font-size: 2.5rem;
    }
    .headerPart > p{
        font-size: 0.9rem;
    }
    .btn1,.btn2{
        font-size: 11px;
    }
    .thirdHead > h1{
        font-size: 2rem;
    }
    .thirdHead > p{
        font-size: .7rem;
    }
    .thirdCards{
        margin-top: 1rem;
    }
    .Card > h3{
        font-size: .8rem;
    }
       .Card > p{
        font-size: .7rem;
    }
}